@model LocationStatusVM

<div>
    @switch (Model.WarningLevel)
    {
        case -1:
            <i class="fa fa-exclamation-triangle fa-5x" id="ServerErrorIcon" aria-hidden="true"></i>
            break;
        case 1:
            <i class="fa fa-smile-o fa-5x" id="NoProblemIcon" aria-hidden="true"></i><i class="fa fa-meh-o fa-5x inactive-smiley" aria-hidden="true"></i><i class="fa fa-frown-o fa-5x inactive-smiley" aria-hidden="true"></i>
            break;
        case 2:
            <i class="fa fa-smile-o fa-5x inactive-smiley" aria-hidden="true"></i><i class="fa fa-meh-o fa-5x" id="SomeProblemIcon" aria-hidden="true"></i><i class="fa fa-frown-o fa-5x inactive-smiley" aria-hidden="true"></i>
            break;
        case 3:
            <i class="fa fa-smile-o fa-5x inactive-smiley" aria-hidden="true"></i><i class="fa fa-meh-o fa-5x inactive-smiley" aria-hidden="true"></i><i class="fa fa-frown-o fa-5x" id="MuchProblemIcon" aria-hidden="true"></i>
            break;
    }
    <div>
        <p>@Model.DisturbanceWarningMessage</p>
        <p>@Model.WeatherWarningMessage</p>
    </div>
</div>

@*append to div #carousel in view*@
<div id="text-carousel" class="carousel slide" data-ride="carousel">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6 carousel-box">
            <div class="carousel-inner">
                @foreach (var station in Model.Stations)
                {
                    string isFirstSlide = "";
                    if (Model.Stations.First() == station)
                    {
                        isFirstSlide = "active";
                    }
                    <div class="item @isFirstSlide">
                        <div class="carousel-content verticalscroll">
                            <center><h3><b>@station.Name</b></h3></center>
                            <br />
                            @if (station.Disturbances.Count() > 0)
                            {
                                @foreach (var disturbance in station.Disturbances)
                                {
                                    <div class="carousel-text-problems">
                                        <b>@disturbance.Header</b>
                                        <p>@disturbance.Details</p>
                                    </div>
                                    <br />
                                }
                            }
                            else
                            {
                                <div class="carousel-text-no-problems ">
                                    <p>Inga störningar på denna hållplats</p>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#text-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#text-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<script>
    $("#text-carousel").appendTo('#disturbancecarousel');
    $('.carousel').carousel({
        interval: false
    });
</script>

@foreach (var station in Model.Stations)
{
    <script>
        var markerpos = { lat: @station.Latitude, lng: @station.Longitude }

        var imageUrl;
        @if (station.StatusLevel == 0)
        {
            //fixa bildlänkarna (relativa sökvägar)
            <text>imageUrl = "http://localhost:22416/images/stationok.png";</text>
        }
        else
        {
            //fixa bildlänkarna(relativa sökvägar)
            <text>imageUrl = "http://localhost:22416/images/stationwarning.png";</text>
        }

        var image = {
            url: imageUrl,
            size: new google.maps.Size(32, 32),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(16, 32)
        };


        var marker = new google.maps.Marker({
            position: markerpos,
            map: map,
            //fixa encoding åäöüæ
            title: "@station.Name",
            animation: google.maps.Animation.DROP,
            icon: image
        });
    </script>
}
